@import url("https://fonts.googleapis.com/css?family=Lobster");



#usernameSpecifier p{
font-size:20px;
text-align:center;
margin-top:2vh;
margin-bottom:2vh;
color:#800020;
}

#usernameShower{
font-family:'Lobster',fantasy,cursive,serif;
font-size:23px;
}

.categoryIn{
display:inline-block;
width:24.5vw;
margin-left:25vw;
margin-top:10vh;
height:50px;
font-size:30px;
}

.placeIn{
display:inline-block;
width:24.7vw;
margin-left:0.5vw;
margin-top:10vh;
height:50px;
font-size:35px;
}

.col-md-4{
margin-top:10px;
}

.card{
box-shadow:2px 2px grey;
}

.card:hover{
box-shadow:5px 5px grey;
}

nav li{
margin-right:1vh;
}

@media screen and (min-width:1270px)
{
nav li{
margin-right:5vh;
}
}